<div class="post-thread ps-4">
    <div class="ratio ratio-21x9">
        <img src="~/images/about-bg.jpg" alt="About Me" class="w-100 h-100"/>
    </div>
    <h4 class="partial-head mt-1">About Me!</h4>
    <p class="fw-normal my-2">
        Sed vehicula interdum nulla quis ornare. Vestibulum gravida sagittis nibh quis malesuada.
        Maecenas quis turpis accumsan, vestibulum nunc et, sollicitudin enim. Phasellus id egestas risus,
        id rutrum purus.
    </p>
</div>